

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;;
}


#devWindow {
    position:absolute;
    bottom:0px;
    left:0px;
    height:100px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.548);
}

#haltOverlay {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #808080;
    display:none;
}



#welcome-form {
    background-color: rgba(255, 255, 255, 0.637);
    padding:10px;
    
    text-align:center;    
    margin-left: auto;
margin-right: auto;
}


#welcome-page { 
    background-image: url(../img/drink_01.jpg);
    background-size: cover; 
    background-repeat: no-repeat;;
    background-position: center center;
}

.shown { 
    display: block;
    opacity: 1.0;
}

.hidden { 
    display:none;
    opacity: 0.0;
}

.orientationButton {
    position:absolute;
    width: 25px;
    height:25px;
}
#orientationUp {
    top:0px;
    left:37.5px;
}

#orientationDown {
    top:75px;
    left:37.5px;
}

#orientationLeft {
    top:37.5px;
    left:0px;
}

#orientationRight {
    top:37.5px;
    left:75px;
}

#orientationReset {
    top:37.5px;
    left:37.5px;
}

.enter-button {
    width: 16%;    
}

.page { 
    position:absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    margin:0px;

    background-color: #E0E0E0;
}

#navigation-widget {
    position:absolute;
    width:100px;
    height:100px;
    top:0px;
    right:0px;
    background-image: url(../img/navigationWidget.svg);
}


.welcome-title {
    text-align:center;
    width:100%;
    margin-top:5%;

}


